.title {
    color: rgb(233, 158, 18);
}

.nextBtn {
    position: absolute;
    right: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  
}

.previousBtn {
    position: absolute;
    left: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.bio {
    margin-top: 900px;
}

.projects {
    height: 100vh;
    /* border: 2px solid blueviolet; */
    
}

.project-container {
    height: 90vh;
    width: 60vw;
    margin: 0 auto;
    position: relative;
}