.photo {
    height: 250px;
    border-radius: 20px;
    border: 4px solid black;
    transition: transform 2s;
}

.photoContainer {
    text-align: center;
    width: 70vw;
    margin: 0 auto; 

}

.container:hover .photo {
    animation: animate 2s linear forwards;

}

.container:hover .text {
    animation: anime 2s linear forwards;
}

@keyframes animate  {

    25% {
        transform: translateX(-240%);
    }
    
    
    100% {
        transform: translateX(-240%) translateY(200%)
    }
}

@keyframes anime {
    100% {
        transform: translateY(-50%);
    }
}