.skill-container {
  position: relative;
  display: flex;
  height: 100vh;
}

.icon-container {
  height: 30vh;
  width: 45vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 20px;
}

.icon {
  height: 15vh;
  width: 7vw;
  text-align: center;
}

.icon-image {
  width: 100px
}

.resume-container {
  width: 40vw;
  height: 85vh;
  margin-top: 100px;
  margin-left: 30px;
  align-self: flex-end;
  position: relative;
  text-align: center;
}

.resume {
  height: 65vh;
  text-align: center;

}

.resumeAtag {

  height: 13vh;
}


.resumepic {
  height: 65vh;
  width: 30vw;
}

.about {
  width: 50vw;
  height: 50vh;
  margin-top: 140px;
  margin-left: 50px;
}

.title {
  height: 5vh;
  margin: 0;
  text-align: center;
}

.technologies {
  height: 35vh;
  width: 45vw;
  position: absolute;
  bottom: 0;
  margin-left: 30px;
}

.profileImg {
  height: 200px;
  width: 10vw;
  margin: 0 auto;
}

.photo {
  height: 200px;
  position: absolute;
  border-radius: 350px;
}

@media (max-width: 600px) {
  .about {
    height: 0vh;
    width: 100vw;
    margin: 0 auto;
  }

  .aboutme-text {
    text-align: center;
    width: 100vw;
    height: 20vh;
  }

  .profileImg {
    width: 33vw;
    height: 140px;
  }

  .photo {
    width: 130px;
    height: 130px;
  }

  .resume-container {
 position: absolute;
 width: 100vw;
 height: 53vh;
 margin: 0 auto;
 margin-bottom: 40px;

  }

  .resume-a {
    text-decoration: none;
  }

  .resumeBtn {
    width: 100vw;

  }

  .title {
    width: 100vw;
  }


  .technologies {
    height: 30vh;
    width: 100vw;
    margin-left: 0px;
    margin-bottom: 120px;

  }

  .icon-container {
    width: 100vw;
    position: relative;
    margin-top: 20px;
    height: 15vh;
  }

  .icon-image {
    width: 60px;
  }
  .icon {
    bottom: 0;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }

.skill-container {
  height: 100vh;
  width: 100vw;
}
}

/* @media (max-width: 1350px) {
.skill-container {
  height: 90vh;
}

.about {
  margin-top: 40px;
  height: 400px;
  width: 100vw;
}

.profileImg {
  width: 210px;
}

.technologies {
  margin-bottom: 50px;
  width: 610px;
}

.icon-container {
  height: 220px;
  position: absolute;
  bottom: 0;
}

.icon-image {
  width: 100px;
}

.resume-container {
  margin-top: 40px;
  width: 600px;
  position: relative;

}

.resume {
  width: 600px;
}

.resumeBtn {
  margin: 0 auto;
}
} */
