.skill-container {
  position: relative;
  display: flex;
  height: 100vh;
  margin-bottom: 150px;
}

.icon-container {
  height: 30vh;
  width: 45vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 20px;
}

.icon {
  height: 15vh;
  width: 7vw;
  text-align: center;
}

.icon-image {
  width: 100px;
}

.resume-container {
  width: 40vw;
  height: 94vh;
  margin-top: 50px;
  margin-left: 30px;
  position: relative;
  text-align: center;
}

.resume {
  height: 65vh;
}

.resumeAtag {
  position: absolute;
  width: 40vw;
  bottom: 0;
  height: 13vh;
  display: flex;
}

.resumepic {
  height: 65vh;
  width: 30vw;
}

.about {
  width: 50vw;
  height: 50vh;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
}
.aboutme-text {
  text-align: center;
}

.title {
  height: 5vh;
  margin: 0;
  text-align: center;
}

.technologies {
  height: 35vh;
  width: 45vw;
  position: absolute;
  bottom: 0;
  margin-left: 50px;
}

.profileImg {
  height: 200px;
  width: 50vw;
  display: flex;
  justify-content: center;
}

.photo {
  height: 200px;
  position: absolute;
  border-radius: 350px;
}

/* laptop */
/* @media (max-width: 1349.09) {
.skill-container {
  height: 95vh;
  margin-bottom: 100px;
}

.about {
  margin-top: 50px;
}

.aboutme-text {
  text-align: center;
}
.profileImg {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.photo {
  margin: 0 auto;
  text-align: center;
}

.technologies {
  bottom: 0;
  margin-left: 50px;
}

.resume-container {
  height: 89vh;
  margin-top: 50px;
}

} */


/*resume hidden */
@media (max-width: 999.09px) {
  .resume-container {
    display: flex;
    align-items: center;
  }
  .icon-image {
    width: 70px;
  }
}

/*mobile */
@media (max-width: 639.09px) {
  .about {
    height: 55vh;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
  }

  .aboutme-text {
    text-align: center;
    width: 100vw;
    height: 20vh;
  }

  .profileImg {
    width: 100vw;
    height: 120px;
  }

  .photo {
    height: 120px;
  }

  .resume-container {
    position: absolute;
    width: 100vw;
    height: 15vh;
    margin: 0 auto;
    bottom: 45%;
    display: flex;
    justify-content: center;
  }

  .resume-a {
    text-decoration: none;
  }

  .title {
    width: 100vw;
  }

  .technologies {
    height: 30vh;
    width: 100vw;
    margin-left: 0px;
    margin-bottom: 100px;
  }

  .icon-container {
    width: 100vw;
    position: relative;
    margin-top: 20px;
    height: 15vh;
  }

  .icon-image {
    width: 60px;
  }
  .icon {
    bottom: 0;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }

  .skill-container {
    height: 100vh;
    width: 100vw;
  }
}
